
html{
  width:100%;
  height:100%;
  position: relative;
  overflow: hidden;
  font-size: 65%;
}

*{
  margin: 0;
  padding: 0;
}



.shareimg{
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}



.swiper-container {
  width: 100%;
  height: 100%;
  background: url("../images/bg.jpg") no-repeat;
  background-size: 100% auto;
}
.swiper-slide {
  width:100%;
  height:100%;
  background: url("../images/bg.png") no-repeat center;
  background-size: 90% 80%;
}
.title{
  width:80%;
  position: absolute;
  bottom: 14%;
  left:2.5%;
}
.content{
  width: 90%;
  position: absolute;
  top: 12%;
  left: 5%;
}
.last{
  width: 90%;
  position: absolute;
  top: 14%;
  left: 5%;
}
.qrcode_mask{
  position:fixed;
  bottom:18%;
  left: 0;
  z-index:222;
  opacity: 0;
  display: none;
}

.qrcode{
  margin: 20px 0 0 0;
  position: relative;
  z-index: 9;
}

.arr{
  width: 10%;
  position: absolute;
  bottom:3%;
  left: 45%;
  z-index: 9;
  
  animation: arr_up 1.5s ease-in-out infinite;
  -webkit-animation: arr_up 1.5s ease-in-out infinite;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;  
}
@keyframes arr_up{
  0% {transform:translate(0,10px); opacity: 1;}
  50% {transform:translate(0,0); opacity: 0.8;}
  100% {transform:translate(0,10px); opacity: 1;}
}
@-webkit-keyframes arr_up{
  0% {-webkit-transform:translate(0,10px); opacity: 1;}
  50% {-webkit-transform:translate(0,0); opacity: 0.8;}
  100% {-webkit-transform:translate(0,10px); opacity: 1;}
}



@-webkit-keyframes rotation {
  10% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg)
  }

  50%, 60% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg)
  }

  90% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg)
  }

  100% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg)
  }
}

@keyframes rotation {
  10% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg)
  }

  50%, 60% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg)
  }

  90% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg)
  }

  100% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg)
  }
}

#orientLayer {
  display: none;
}

@media screen and (min-aspect-ratio: 13/9) {
  #orientLayer {
    display: block;
  }
}

.mod-orient-layer {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 9997
}

.mod-orient-layer__content {
  position: absolute;
  width: 100%;
  top: 45%;
  margin-top: -75px;
  text-align: center
}

.mod-orient-layer__icon-orient {
  background-image: url('../images/heng.png');
  display: inline-block;
  width: 67px;
  height: 109px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -webkit-animation: rotation infinite 1.5s ease-in-out;
  animation: rotation infinite 1.5s ease-in-out;
  -webkit-background-size: 67px;
  background-size: 67px
}

.mod-orient-layer__desc {
  margin-top: 20px;
  font-size: 15px;
  color: #fff
}
/* iphone4 */
@media only screen and (min-width:320px) and (max-height:416px) {
  .content{
    width: 80%;
    position: absolute;
    top: 12%;
    left: 10%;
  }
  .last{
    width: 80%;
    position: absolute;
    top: 15%;
    left: 10%;
  }
  
}

/* meizu */
@media only screen and (min-width:384px) and (max-height:519px) {
  .content{
    width: 80%;
    position: absolute;
    top: 12%;
    left: 10%;
  }  
}


.f-ofh {overflow: hidden; height: 100%!important; }        
.f-hide { display: none!important; }                       


.p-ct { position: relative; width: 100%; height: 100%; overflow: hidden; z-index: 8; background: url("../images/bg.jpg") no-repeat;
  background-size: 100% auto; }
.p-ct.fixed { overflow: hidden; }


.m-page { position: absolute; top:0; left: 0; width:100%; height:100%; background: url("../images/bg.png") no-repeat center;
  background-size: 90% 80%; }
.m-page .page-con { position: relative; width: 100%; height: 100%; overflow: hidden; text-align: center; }
.m-page.active { z-index:40; }
.m-page.fixed { position: fixed; }
.m-page.move {
    -webkit-transition:all 0.5s ease-in-out;
       -moz-transition:all 0.5s ease-in-out;
        -ms-transition:all 0.5s ease-in-out;
         -o-transition:all 0.5s ease-in-out;
            transition:all 0.5s ease-in-out;
}

.translate-back{
  width:100%;
  height:100%;
}

.page{
    width:100%;
    height:100%;
    overflow: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}
